#header {
    width: 100%;
    display: grid;
    grid-template-columns: 20% auto 0 40%;
    height: 15vh;
    row-gap: 0.2vh;
    justify-items: center;
    align-items: center;

    .logo {
        width: 5vw;
        display: block;
    }

    a {
        @include a-font(1rem, $color-1);
        width: 100%;
        padding: 0.3em 0.9em 0.3em 0.9em;
    
        &:link, &:visited {
            background-color: $color-2;
        }
    
        &:hover {
            background-color: $color-3;  
        }
    
        &:active {
            background-color: $color-4;
        }
    
        &.currentLink {
            background-color: $color-5;
        }
    }
}

    .dropdown-menu {
        display: none;
    }

    .dropbtn {
        display: none;
    }

    .dropdown-menu:hover .dropdown-content {
        display: none;
    }

    .dropdown-menu:hover .dropbtn {
        display: none;
    }