/*
Color Palette
$persian-plum: #6f1d1bff;
$camel: #bb9457ff;
$bistre: #432818ff;
$windsor-tan: #99582aff;
$banana-mania: #ffe6a7ff;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    display: grid;
    justify-items: center;
    align-items: center; 
}

#grid-container {
    display: grid;
}

/*Header starts*/
#header {
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: 20% auto 9% 9% 9% 9%;
    column-gap: 1vw;
    justify-items: center;
    align-items: center; 
}

.logo {
    width: 5vw;
    display: block;
}

/*Navigation starts*/
#header a {
    width: 100%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0.3em 0.9em 0.3em 0.9em;
}

#header a:link, #header a:visited {
    background-color: #bb9457;
}

#header a:hover {
    background-color:#99582aff;  
}

#header a:active {
    background-color: grey;
}

#header a.currentLink {
    background-color:#6f1d1bff;
}
/*Navigation ends*/
/*Header ends*/

/*Content starts*/
#content {
    width: 100%;
    min-height: 77vh;
    display: grid;
    grid-row-gap: 2.5vh;
    justify-items: center;
    align-items: center;
}

#main-title {
    width: 100%;
    min-height: 40vh;
    background: url(../images/backgroundimage-pizza-2.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#main-title h1 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-left: 0.6em;
}

#main-title p {
    display: block;
    font-size: 1.5rem;
    font-family: cursive;
    text-align: center;
    color: white;
    margin-top: 0.5em;
    padding-left: 0.9em;
}

#main-title a {
    width: 30vw;
    display: block;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    margin: 1em 2em 0 1em;
}

#main-title a:link, #main-tilte a:visited {
    color: white;
    background-color: #99582aff;
    padding: 0.3em 0.6em 0.3em 0.6em;
}
    
#main-title a:hover, #main-title a:active {
    width: 35vw;
    color: #99582aff;
    background-color: white;
    padding: 0.4em 0.7em 0.4em 0.7em;
    font-size: 1.8rem;
}

/*Top-container starts*/
#top-content {
    width: 100%;
    min-height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    justify-items: center;
}

.top-image img {
    margin: 0.3em 0 0.3em 1.5em;
    border-radius: 2em;
}

.top-text {
    margin: 0.3rem 0 0.3rem 0.3rem;
}

.top-text h2 {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    margin: 0.3em auto 0.3em auto;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #6f1d1bff;
}

.top-text p {
    text-align: left;
    font-size: 1.1rem;
    font-family: cursive;
    margin: 0.3em 1em 0.3em 1em;
    color: #99582aff;
}
/*Top-container ends*/

/*Sub-content starts*/
#sub-content {
    width: 100%;
    min-height: 50vh;
    display: grid;
    grid-template-columns: auto 30% 40%;
    column-gap: 1vw;
    justify-items: center;
    align-items: center;
}

.sub-content {
    background: url(../images/backgroundimage-pizza-8.jpg);
    background-size: cover;
    background-position: top;
}

#menu-order a {
    width: 25vw;
    display: block;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    margin: 0.3em 2em 0.6em 2em;
}

#menu-order a:link, #menu-order a:visited {
    color: white;
    border: 3px solid #bb9457ff;
    padding: 0.2em;
}
    
#menu-order a:hover, #menu-order a:active {
    color: #bb9457ff;
    border: 2px solid #99582aff;
    padding: 0.2em;
}

#video iframe {
    margin: 0.3em 1em 0.3em 0;
}
/*Sub-content ends*/

/*Bottom-content starts*/
#bottom-content {
    width: 95%;
    min-height: 100vh;
    display: grid;
    column-gap: 1vw;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-template-rows: 50% 50%;
    row-gap: 1vh;
    justify-content: center;
    align-content: center;
}

.cropped {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: top;
}

.bottom-text h2{
    display: block;
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #6f1d1bff;
    margin: 0.6em 0.6em 0.6em 0.6em;
}

.bottom-text p {
    text-align: left;
    font-size: 1rem;
    font-family: cursive;
    color: #99582aff;
    margin: 0.6em 0.6em 0.6em 0.6em;
}

/*Footer starts*/
#footer {
    background-color: #6f1d1bff;
    width: 100%;
    height: 8vh;
    font-size: 1rem;
    font-family: cursive;
    color: white;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
} 
/*Footer ends*/