@import '_mixins';
@import '_variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    display: grid;
    justify-items: center;
    align-items: center; 
}

/*Header starts*/
@import '_header-mobile';
/*Header ends*/

/*Content starts*/
#content {
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-row-gap: 2vh;
    justify-items: center;
    align-items: center;
    margin-top: 1vh;
}

#main-title {
    width: 100%;
    min-height: 40vh;
    background: url(../images/backgroundimage-pizza-2.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;


    h1 {
        @include h-font(1.5rem);
        color: $color-1;
        margin: 0.5em 0 0.5em 1em;
    }

    a {
        @include a-font(0.8rem $color-1);
        width: 70vw;
        margin: 1em 2em 0 1.8em;

        &:link, &:visited {
            color: $color-1;
            background-color: $color-3;
            padding: 0.3em 0.6em 0.3em 0.6em;
        }
    
        &:hover, &:active {
            width: 45vw;
            color: $color-3;
            background-color: $color-1;
            padding: 0.1em 0.2em 0.1em 0.2em;
            font-size: 0.8rem;
        }
    }
}