/*
Color Palette
$persian-plum: #6f1d1bff;
$camel: #bb9457ff;
$bistre: #432818ff;
$windsor-tan: #99582aff;
$banana-mania: #ffe6a7ff;
*/

@keyframes sub-title-animation {
    0% {font-size: 1.5rem; font-weight: normal;}
    50% {font-size: 2rem; font-weight: bold;}
    100% {font-size: 1.8rem; font-weight: normal;}
}

#sub-title h2:hover {
    animation-name: sub-title-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.cropped-image {
    width: 20vw;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.cropped-image:hover {
    width: 30vw;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    display: grid;
    justify-items: center;
    align-items: center; 
}

#grid-container {
    display: grid;
}

/*Header starts*/
#header {
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: 20% auto 9% 9% 9% 9%;
    column-gap: 1vw;
    justify-items: center;
    align-items: center; 
}

.logo {
    width: 5vw;
    display: block;
}

/*Navigation starts*/
#header a {
    width: 100%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0.3em 0.9em 0.3em 0.9em;
}

#header a:link, #header a:visited {
    background-color: #bb9457;
}

#header a:hover {
    background-color:#99582aff;  
}

#header a:active {
    background-color: grey;
}

#header a.currentLink {
    background-color:#6f1d1bff;
}
/*Navigation ends*/
/*Header ends*/

/*Content starts*/
#content {
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-row-gap: 2vh;;
}

#main-title {
    width: 100%;
    min-height: 40vh;
    background: url(../images/backgroundimage-pizza.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-title h1 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;
}

#main-title p {
    display: block;
    font-size: 1.5rem;
    font-family: cursive;
    text-align: center;
    color: white;
    margin-top: 0.5em;
}

#main-title a {
    width: 30vw;
    display: block;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    margin: 1em 2em 0 1.5em;
}

#main-title a:link, #main-tilte a:visited {
    color: white;
    background-color: #99582aff;
    padding: 0.3em 0.6em 0.3em 0.6em;
}
    
#main-title a:hover, #main-title a:active {
    width: 40vw;
    color: #99582aff;
    background-color: white;
    padding: 0.4em 0.7em 0.4em 0.7em;
    font-size: 2rem;
}

#top-content {
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-rows: 30% 70%;
    row-gap: 1vh;;
    align-items: center;
    justify-items: center;
}

#sub-title h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0.6em 2em 0.3em 2em;
    color:#6f1d1bff;
}

#sub-title p {
    font-size: 1.1rem;
    font-family: cursive;
    text-align: center;
    margin: 0.1em 10em 0.3em 10em;
    line-height: 1.5;
    color: black;
}

#images {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr 0.5fr;
    column-gap: 1vw;
    margin-top: 0.3em;
}

.cropped-image {
    width: 20vw;
    height: 50vh;
    object-fit: cover;
}

#sub-content {
    width: 100%;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 30% 45% auto;
    column-gap: 1.5vw;
    align-items: center;
}

.sub-content {
    background: url(../images/backgroundimage-pizza-4.jpg);
    background-size: cover;
    background-position: top;
    padding-top: 0.3rem;
    padding-bottom: 0.6rem;
    margin-top: 0.6em;
}

#video iframe {
    width:100%;
    height: 50vh; 
}

#review h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    margin: 0.5em 1em 0.1em 1.5em;
    color: #bb9457ff;
}

#review p {
    font-size: 0.8rem;
    font-family: cursive;
    text-align: left;
    margin: 0.3em 2em 0 2em;
    line-height: 1.5;
    color: white;
    display: flex;
    align-items: column;
    align-items: start;
    justify-items: center;
}

#review a {
    width: 15vw;
    display: block;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    margin: 0.3em 2em 0 1.5em;
    display: flex;
    align-items: column;
    align-items: start;
    justify-items: center;
}

a.one:link, a.one:visited {
    color: #bb9457ff;
    border: 3px solid #bb9457ff;
    padding: 0.2em;
}
    
a.one:hover, a.one:active {
    color: #99582aff;
    border: 2px solid #99582aff;
    padding: 0.2em;
}

#order-info {
    width: 100%;
    min-height: 40vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

a.button-1 {
    display: block;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch: normal;
    text-decoration: transparent;
    text-align: center;
    margin: 0.3em 2em 0em 2em;
}

a.button-1:link, a.button-1:visited {
    color: #bb9457ff;
}
    
a.button-1:hover, a.button-1:active {
    color:#6f1d1bff;
    font-size: 2rem;
}

a.button-2 {
    width: 30vw;
    display: block;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    margin: 0.3em 2em 0em 2em;
}

a.button-2:link, a.button-2:visited {
    color: #bb9457ff;
    background-color: #6f1d1bff;
    padding: 0.3em 0 0.3em 0;
}
    
a.button-2:hover, a.button-2:active {
    color: white;
    background-color: #bb9457ff;
    padding: 0.3em 0 0.3em 0;
}

#order-info h2 {
    background-color: #bb9457ff;
    padding: 0.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin: 0.5em 1em 0.1em 1.5em;
}

#contact-info {
    width: 100%;
    min-height: 20vh;
    display: grid;
    column-gap: 1vw;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #99582aff;
    
}

.info h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: white;
}

.info p {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.5;
    color: white;
}

/*Content ends*/

/*Footer starts*/
#footer {
    background-color: #6f1d1bff;
    width: 100%;
    min-height: 8vh;
    font-size: 1rem;
    font-family: cursive;
    color: white;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
} 
/*Footer ends*/