/*
Color Palette
$prussian-blue: #003049ff;
$maximum-red: #d62828ff;
$orange: #f77f00ff;
$maximum-yellow-red: #fcbf49ff;
$lemon-meringue: #eae2b7ff;
*/

div h1 {
    display: block;
    font-family: monospace;
    font-size: 3em;
    font-weight: bold;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    color: #d62828ff;
}

section > article {
    background-color: #eae2b7ff;
    padding-left: 0;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
}

section > h1 {
    display: block;
    font-family: cursive;
    font-size: 3em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
    color:#d62828ff;
}

h2 + p {
    text-align: center;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    font-size: 2em;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    display: block;
}

p {
    display: block;
    font-size: 1.2em;
    font-family: cursive;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;
    line-height: 1;
    color: black;
}

.branding {
    font-size: 2em;
    text-align: center;
}

span {
    line-height: 0.5;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: #d62828ff;
}

footer {
    text-align: center;
    font-size: 1em;
    padding: 10px;
    background-color: #003049ff;
    color: white;
}

img {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    display: grid;
    justify-items: center;
    align-items: center;
}

.row {
    display: flex;
}
  
.column {
    flex: 20%;
    padding: 5px;
}

.cropped1 {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    border: 5px solid black;
}

video {
    width: 100%;
    height: auto;
}

.navigation {
    text-align: center;
    background-color: #fcbf49ff;
    padding-left: 0;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
}

#video {
    text-align: center;
}

#review {
    text-align: center;
}

#contact {
    text-align: center;
}

a {
    font-size: 1.5em;
    font-family: monospace;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    display: inner-block;
}

a.one:link {
    color: #003049ff;
    padding: 5px;
    border: 2px solid;
}

a.one:visited {
    color: black;
    border: 2px solid #eae2b7ff;
    padding: 5px;
}

a.one:hover {
    color:black;
    border: 2px solid #d62828ff;
    padding: 5px;
}

a.one:active {
    color: grey;
    border: 2px solid #d62828ff;
    padding: 5px;
}

.currentLink {
    color:#d62828ff;
    border: 2px solid #003049ff;
    padding: 5px; 
}

a.two:link, a.two:visited {
    color: white;
    background-color: #fcbf49ff;
    padding: 5px;
}

a.two:hover, a.two:active {
    color: white;
    background-color: #d62828ff;
    padding: 5px;
}

.location {
    text-align: center;
}

section#content {
    background-color: #eae2b7ff;
    padding-left: 0;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
}

div > img {
    padding-left: 0px;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
}

div > p {
    padding-left: 0px;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
}

img.chef {
    width: 100%;
}